@model IEnumerable<Product>
@{
    ViewData["Title"] = "Продукты";
    Layout = "_Layout";
}

<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Создать</a>