@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting мир (из представления)
        <p>У нас будет захватывающая вечеринка.<br />
        (Задача: продать её лучше. Добавить фотографии или что-то в этом роде.)</p>
        <a asp-action="RsvpForm">Ответить на приглашение</a>
    </div>
</body>
</html>
