<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CarLibrary" publicKeyToken="9148bc76fba60148" culture="neutral"/>
        <codeBase version="2.0.0.0" href="file:///D:/OneDrive/Документы/Visual Studio 2017/Projects/PetProjects/CarLibrary/bin/Debug/CarLibrary.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
