@model Dictionary<string, object>

<div class="bg-primary card-body text-white">
    <h4>Детали пользователя</h4>
</div>

<table class="table table-condensed table-bordered">
    @foreach (KeyValuePair<string,object> kvp in Model)
    {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
    }
</table>
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Выйти</a>
}