@model string
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Маршрутизация</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="container">
    <h2>GetLegacyURL</h2>
    Запрошенный URL был: @Model
</body>
</html>