<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MagicEightBallServiceLib.MagicEightBallService" behaviorConfiguration="EightBallServiceMEXBehavior">
        <!-- Адрес получен из <baseAddresses> -->
        <endpoint address="" binding="basicHttpBinding" contract="MagicEightBallServiceLib.IEightBall"/>
        
        <!-- Включить конечную точку MEX -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
        <!-- Перечислить все базовые адреса в выделенном разделе -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MagicEightBallService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <!-- Определение линии поведения для MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="EightBallServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials></serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>