<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MagicEightBallServiceLib.MagicEightBallService">
        <!-- Адрес получен из <baseAddresses> -->
        <endpoint address="http://localhost:8080/MagicEightBallService" binding="basicHttpBinding" contract="MagicEightBallServiceLib.IEightBall"/>
        
        <!-- Перечислить все базовые адреса в выделенном разделе -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MagicEightBallService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>