<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Это значение ключа отображается на одно из значений перечисления -->
    <add key="provider" value="SqlServer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
