@using  WorkingWithVisualStudio.Models
@model IEnumerable<Product>
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Работа с Visual Studio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="card-body">
    <h3 class="text-center">Товары</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Название</td>
                <td>Цена</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">Добавить новый товар</a>
    </div>
</body>
</html>
