@{
    ViewBag.Title = "Адрес";
    Layout = "_Layout";
}

@section scripts {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function (e) {
                $.ajax("/Home/Body", {
                    method: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        firstName: "Боб",
                        lastName: "Смит"
                    }),
                    success: function (data) {
                        $("#firstName").text(data.firstName);
                        $("#lastName").text(data.lastName);
                    }
                });
            });
        });
    </script>
}

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <th>Имя:</th>
        <td id="firstName"></td>
    </tr>
    <tr>
        <th>Фамилия:</th>
        <td id="lastName"></td>
    </tr>
</table>
<button class="btn btn-primary">Отправить</button>