@model Appointment
@{ Layout = "_Layout"; }

<div class="bg-success card-body text-white">
    <h2>Ваша встреча</h2>
</div>
<table class="table table-bordered">
    <tr>
        <th>Ваше имя:</th>
        <td>@Model.ClientName</td>
    </tr>
    <tr>
        <th>Дата вашей встречи:</th>
        <td>@Model.Date.ToString("d")</td>
    </tr>
</table>
<a class="btn btn-success" asp-action="Index">Сделать другую встречу</a>