@model Product[]

@{
    ViewBag.Title = "Наименование товара";
}
<table>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
        <tr>
            <td>@p.Name</td>
            <td>@($"{p.Price:C2}")</td>
        </tr>
        }
    </tbody>
</table>