<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Какой поставщик? -->
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  
  <!-- Несколько строк подключения -->
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;"/>
    <add name="AutoLotOleDbProvider" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=SSPI;Provider=SQLOLEDB;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
